water-sensor/node-red/valv-flow.json
[{"id":"3bcfae74.6a0572","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"93312af1.adbd88","type":"mqtt in","z":"3bcfae74.6a0572","name":"","topic":"valv-temperature","qos":"2","datatype":"auto","broker":"ad122fe8.24b5a","x":120,"y":380,"wires":[["2a5b4bb8.987504"]]},{"id":"a0e5ecb9.9a61e","type":"mqtt in","z":"3bcfae74.6a0572","name":"","topic":"valv-water-level","qos":"0","datatype":"utf8","broker":"ad122fe8.24b5a","x":120,"y":460,"wires":[["d4a1940c.06d2a8"]]},{"id":"51ea5128.3df85","type":"websocket out","z":"3bcfae74.6a0572","name":"","server":"","client":"e6a36d29.333bd","x":860,"y":320,"wires":[]},{"id":"78c81c0e.4bcd84","type":"inject","z":"3bcfae74.6a0572","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":130,"y":140,"wires":[["34439415.6a3cbc"]]},{"id":"34439415.6a3cbc","type":"rpi-dht22","z":"3bcfae74.6a0572","name":"DHT11","topic":"DHT2201","dht":"11","pintype":"0","pin":"17","x":300,"y":140,"wires":[["685ac24a.3a7d6c","37cb9ed8.6e0192"]]},{"id":"685ac24a.3a7d6c","type":"mqtt out","z":"3bcfae74.6a0572","name":"","topic":"valv-temperature","qos":"","retain":"","broker":"ad122fe8.24b5a","x":530,"y":80,"wires":[]},{"id":"37cb9ed8.6e0192","type":"debug","z":"3bcfae74.6a0572","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":200,"wires":[]},{"id":"2e5a0912.82dab6","type":"function","z":"3bcfae74.6a0572","name":"join","func":"return {\n    temperature: msg.temperature,\n    waterlevel: msg.waterlevel,\n};","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["51ea5128.3df85"]]},{"id":"d4a1940c.06d2a8","type":"function","z":"3bcfae74.6a0572","name":"extract-water-level","func":"return {\n    waterlevel: msg.payload\n};","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["2e5a0912.82dab6","51950d9c.248f24"]]},{"id":"2a5b4bb8.987504","type":"function","z":"3bcfae74.6a0572","name":"extract-temperature","func":"return {\n    temperature: msg.payload\n};","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["2e5a0912.82dab6","51950d9c.248f24"]]},{"id":"62c46ee1.05392","type":"rpi-gpio out","z":"3bcfae74.6a0572","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1320,"y":460,"wires":[]},{"id":"51950d9c.248f24","type":"http request","z":"3bcfae74.6a0572","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":500,"wires":[["2f8f5bef.b5c624"]]},{"id":"2f8f5bef.b5c624","type":"json","z":"3bcfae74.6a0572","name":"","property":"payload","action":"","pretty":false,"x":790,"y":500,"wires":[["c0804b96.1beac8"]]},{"id":"c0804b96.1beac8","type":"function","z":"3bcfae74.6a0572","name":"process","func":"if (msg.waterlevel > 0 || msg.temperature > msg.payload.tempLimit) {\n    return {\n        sound: msg.payload.sound === \"true\",\n        led: msg.payload.led === \"true\"\n    }\n} else {\n    return {\n        sound: false,\n        led: false\n    }\n}","outputs":1,"noerr":0,"x":940,"y":500,"wires":[["abeba8f1.b5a2d8","fb99ca2.ee2a538"]]},{"id":"abeba8f1.b5a2d8","type":"function","z":"3bcfae74.6a0572","name":"use-sound-boolean","func":"return {\n    payload: msg.sound\n};","outputs":1,"noerr":0,"x":1130,"y":540,"wires":[["dfa58894.f27878"]]},{"id":"fb99ca2.ee2a538","type":"function","z":"3bcfae74.6a0572","name":"use-led-boolean","func":"return {\n    payload: msg.led\n};","outputs":1,"noerr":0,"x":1120,"y":460,"wires":[["62c46ee1.05392"]]},{"id":"dfa58894.f27878","type":"rpi-gpio out","z":"3bcfae74.6a0572","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1320,"y":540,"wires":[]},{"id":"ad122fe8.24b5a","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6a36d29.333bd","type":"websocket-client","z":"","path":"ws://localhost:8080/updates","tls":"","wholemsg":"true"}]