node-red/flows.json
[{"id":"69953345.86901c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c4cb0981.0dd5c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"75158e39.cb3c6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b2fc039b.db10e","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"ad122fe8.24b5a","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6a36d29.333bd","type":"websocket-client","z":"","path":"ws://localhost:8080/testing","tls":"","wholemsg":"false"},{"id":"d2cad67f.627848","type":"inject","z":"69953345.86901c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":90,"y":200,"wires":[["7fdc28c3.2d9208","dc2a6414.4a8c38"]]},{"id":"7fdc28c3.2d9208","type":"rpi-dht22","z":"69953345.86901c","name":"DHT11","topic":"DHT2201","dht":"11","pintype":"0","pin":"17","x":360,"y":260,"wires":[["ccc9014.8d571","f3ec155c.3cd728"]]},{"id":"ccc9014.8d571","type":"debug","z":"69953345.86901c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":300,"wires":[]},{"id":"f3ec155c.3cd728","type":"mqtt out","z":"69953345.86901c","name":"","topic":"temp-humid","qos":"2","retain":"","broker":"ad122fe8.24b5a","x":560,"y":220,"wires":[]},{"id":"dc2a6414.4a8c38","type":"ncd-ads1115","z":"69953345.86901c","name":"","connection":"","addr":"72","interval":0,"outputs":1,"output_all":0,"output_mult":1,"channel_1":"0","channel_2":"_none","channel_3":"_none","channel_4":"_none","gain":2,"mode":1,"rate":4,"compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":320,"y":440,"wires":[["5a481013.445e1"]]},{"id":"5a481013.445e1","type":"debug","z":"69953345.86901c","name":"water","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":420,"wires":[]},{"id":"3c32501f.7e538","type":"mqtt in","z":"c4cb0981.0dd5c8","name":"","topic":"temp-humid","qos":"2","datatype":"auto","broker":"ad122fe8.24b5a","x":180,"y":140,"wires":[["315fa375.664c2c"]]},{"id":"315fa375.664c2c","type":"websocket out","z":"c4cb0981.0dd5c8","name":"","server":"","client":"e6a36d29.333bd","x":510,"y":120,"wires":[]},{"id":"3baebb30.4c0d74","type":"json","z":"75158e39.cb3c6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["b9079a0b.922608"]]},{"id":"b9079a0b.922608","type":"file","z":"75158e39.cb3c6","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":600,"y":160,"wires":[[]]},{"id":"e0074dc3.9b01","type":"http in","z":"75158e39.cb3c6","name":"threshold","url":"http://localhost:8080","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["3baebb30.4c0d74"]]}]